body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active{
  color: aqua;
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
}
html,body,#app{
  width: 100%;
  height: 100%;

}
#app{
  display: flex;
  flex-direction: column;
  
}
header{
  width: 100%;
  height: 50px;
  background-color: aqua;
}
main{
  width: 100%;
  height: 500px;
  background-color: bisque;
}
footer{
  width: 100%;
  height: 60px;
  background-color: cornflowerblue;
}